.slider{
    position: relative;
    height: calc(100vh - 110px);
    color: #1980b6;
}

.slide{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 15px;
    
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide:nth-child(1){
    background-image: url("../assets/banner.jpg");     
}

/* .slide:nth-child(2){
    
}

.slide:nth-child(3){
    
} */

.controlers{
    z-index: 1;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(50vh - 75px);
}
  
.next {
    right: 0;
}

.prev {
    left: 0;
} 
  
.active{
    background-color: #717171;
}
  
@-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}
  
 @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}

.slide-title{
   font-size: 58pt;
   font-weight: 700;
   line-height: 1.1;
}

.slide-description{
    font-size: 16pt;
    line-height: 1.8;
}